body {
  background-color: lightblue;
}

h1 {
  font-family: comic-sa;
  color: white;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  font-family: verdana;
  font-size: 20px;
}